body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2; 
}

h1, h2, h3 {
    color: gold;
    text-align: center; 
}

.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#contact {
    background-color: rgba(255, 255, 255, 10);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info-item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-item i {
    font-size: 30px;
    color: gold;
}

input[type="text"], input[type="number"], button {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

button {
    background-color: gold;
    color: white;
    border: none;
    cursor: pointer; 
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

button:hover {
    background-color: #ffcc00;
}
